
.logo {
    width: 4.5rem;
    border-radius: 0.5rem;
    height: 4.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    border-bottom: 0.1rem solid #000000;
    margin: -3.5rem;
    height: 7.5rem;
}

.content {
    margin-top: 10rem;
    font-size: 2rem;
}

.burger {
    font-size: 4.5rem;
}

.try {
    display: flex;
    padding: 0;
}