
.logo {
    width: 4.5rem;
    border-radius: 0.5rem;
    height: 4.5rem;
}

.header {
    border-bottom: 0.2rem solid #000000;
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    width: 17rem;
}

.content {
    margin-top: 10rem;
    font-size: 2rem;
}

.burger {
    font-size: 4.5rem;
}

.try {
    display: flex;
    padding: 0;
}