.nopage {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}


.title {
    text-align: center;
    font-size: 6rem;    
    color: rgb(237, 5, 129);
    padding-top: 3rem;
}

.link{
    width: 13rem;
    font-size: 1.5rem;
    margin-top: 5rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: rgb(68, 126, 208);
    color: white;
    font-family:  'Kalam', cursive;;
    text-decoration: none;
  }

  p {
    font-size: 2rem;
  }

