.terms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
}

.button {
    display: flex;
    justify-content: space-around;
    width: 16rem;
    font-size: 1.5rem;
    margin-top: 0rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 1rem;
    background-color: rgb(10, 191, 191);
    color: white;
    font-family:  'Kalam', cursive;
    text-decoration: none;
  }

.row {
    padding: 0.5rem;
}

.title {
    font-size: 2.1rem;
    padding-bottom: 1rem;
}

.text {
   font-size: 1rem;
   color: grey;
}

h2 {
    padding-bottom: 0.5rem;
}